header{
    background-color: #5176b7;
}

body{
    text-align: center;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.bak{
  background: url(https://adventure.norrona.com/en/assets/image-cache/9561_Norrona_Hvitserk_dinarindsem_176.2ff10b81.jpg) center/cover no-repeat;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.bak div{
    height: 50vh;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

}

h1{
    margin: 15px
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

h2{
    padding-top: 20px;
    color: black;
}

p{
    width: 600px;
    color: black;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;


}
.bildeboks{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: baseline;
    justify-items: center;

}

.bildeboks img{
  width: 185px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  display: block;      
  margin-bottom: 150px;  

}

.s2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    flex-direction: row;
}

.s2boks{
    height: 400px;
    width: 700px;
    border: solid 0.1px black;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    overflow: hidden;
}

.s2boks1{
   width: 185px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  display: block;      
  margin-bottom: 8px; 
  width: 300px;       
  height: auto;       
  border-radius: 10px;
  object-fit: cover;  
}
